.preview {
  position: relative;
  margin: 0 20px;
  width: 204px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.canvas2 {
  width: 200px;
  height: 200px;
  background-color: lightgrey;
  image-rendering: pixelated;
}

.full-screen-img {
  position: absolute;
  right: -30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: lightgrey;
}

.full-screen-img:hover {
  transform: scale(1.05);
}

.fps-slider-wrapper {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fps {
  display: inline-block;
  width: 55px;
  font-size: 16px;
  color: #fff;
  padding-left: 5px;
  margin-right: 10px;
}

.fps-slider {
  cursor: grab
}

.inFullScreenMode {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

.canvas-coordinates {
  width: 80px;
  height: 80px;
  margin-top: 50px;
  padding-left: 5px;
  color: #fff;
}

.canvas-size,
.coordinates {
  color: #ffd700;
}

.coordinates {
  margin-top: 5px;
}

.download-gif {
  display: block;
  margin-top: 50px;
  margin-left: 10px;
  width: 110px;
  height: 30px;
  border: none;
  font-size: 14px;
  border-radius: 3px;
  padding: 5px;
  background: #ffd700;
  cursor: pointer;
}

.download-gif:focus {
  outline: none
}

